.navbar{
    height: 140px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    .navbar-link{
        width: 98px;
        height: 31px;
        border-radius: 2px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.75;
        letter-spacing: normal;
        text-align: center;
        border: solid 1px #d6d6d6;
        color: #606060;
    }
    .navbar-link.active{
        border: solid 1px #1797ff;
        color: #1797ff;
    }

    .rectangle{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}