.row-preview{
    width: 100%;

    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: repeat(4, 90px);
    column-gap: 4%;
    row-gap: 30px;
    margin-bottom: 96px;
}

@media screen and (max-width: 980px){
    .row-preview{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 96px;
    }
}